{% extends "base.html" %}

{% block tabs %}
  {{ super() }}

  <style>

      :root {
          --lxm-primary-color: #fefefe;
      }

      /* Hide main content for now */
      .md-content {
          display: none;
      }
      [data-md-color-scheme=slate] {
          .md-header {
              background-color: transparent !important;
          }

          .md-tabs {
              background-color: transparent !important;
          }
      }
      /* Hide table of contents and navigation */
      @media screen and (min-width: 60em) {
          .md-sidebar--secondary, .md-sidebar--primary {
              display: none;
          }
      }

      div.lxm-home-center {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 15px;
      }
      div.lxm-home-text-main {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: var(--md-primary-bg-color);
      }

      div.lxm-home-text-main h1 {
          font-size: 6em;
          font-weight: 900;
          text-transform: uppercase;
      }
      div.lxm-home-text-main p {
          font-size: 2em;
          font-weight: 300;
      }

      @media screen and (max-width: 60em) {
          div.lxm-home-center img {
              width: 150px;
          }

          div.lxm-home-center {
              flex-direction: column;
              align-items: left;
              margin: 50px;
          }

          div.lxm-home-text-main h1 {
              font-size: 3em;
          }

          div.lxm-home-text-main p {
              font-size: 1.5em;
          }
      }

  </style>
  <section class="lxm-home-content">
    <div class="lxm-home-center">
      <img src="img/logo-nobg.svg" alt="PYCO logo">
      <div class="lxm-home-text-main">
        <h1>Software<br>for<br>creatives.</h1>
        <p>
          We are making software to help creatives in their craft.
        </p>
      </div>
    </div>
  </section>

{% endblock %}

{#remove content#}
{% block content %}{% endblock %}