:root {
    --md-accent-fg-color: #21E785;
    --md-accent-fg-color--light: #21E785;
    --md-accent-fg-color--dark: #21E785;

    --md-primary-fg-color: #0E0E0E;
    --md-primary-fg-color--light: #bbcde0;
    --md-primary-fg-color--dark: #83a4c5;

    /* same value as default */
    --md-code-bg-color: hsla(var(--md-hue), 15%, 18%, 1);
    --md-tabbed-bg-color: hsla(var(--md-hue), 15%, 16%, 1)
}
.md-typeset {
    font-size: 0.72rem;
    line-height: 1.4;
}
.md-typeset h1, .md-typeset h1>*:not(.doc-symbol) {
    color: var(--md-accent-fg-color);
    font-weight: 900;
}
.md-typeset h2, .md-typeset h2>*:not(.doc-symbol) {
    font-weight: 900;
    color: var(--md-accent-fg-color);
}
.md-typeset h3, .md-typeset h3>*:not(.doc-symbol) {
    font-weight: 700;
    color: var(--md-accent-fg-color);
}
.md-typeset h4, .md-typeset h4>*:not(.doc-symbol) {
    font-weight: 700;
    color: var(--md-accent-fg-color);
}
.tabbed-set > .tabbed-content {
    background-color: var(--md-tabbed-bg-color);
    padding: 0 15px 0 15px;
}
